@use "../styles/abstracts/index" as *;

header {
    box-sizing:border-box;
    background-color: $card-bg;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include responsive(padding, (xs: $s-pd $m-pd, md: $s-pd $xxl-pd));
    gap:$m-pd;
    z-index:1;
    border-bottom: $brdprim;

    h1 {
        user-select: none;
    }
}
