@use "../styles/abstracts/index" as *;

main {
    transition: grid-template-columns 1s $trans-tf;
    display: grid;
    grid-template-columns:2fr 3fr;
    grid-column-gap: $m-pd;
    padding: $xs-pd $s-pd;
    margin: 0;
    min-height:100vh;
}

.centered {
    grid-template-columns:0fr 1fr;
}